.git
.github
.gitignore
.gitattributes
.travis.yml
.readthedocs.yaml
.flake8
.pre-commit-config.yaml
docs/
assets/
*.md
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.mypy_cache/
htmlcov/
.coverage
dist/
build/
*.egg-info/
venv/
.venv/
env/
.env
